* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, Helvetica, sans-serif;
}

#wrapper, main, form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#wrapper, main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

main, form {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#wrapper {
    min-height: 100vh;
}

header {
    height: 35vh;
}

h1 {
    color: #000;
    font-size: 1.5em;
    border: 1px solid #000;
    border-radius: 20px;
    margin: 20px 0 0 20px;
    padding: 16px;
    width: 100px;
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

h2 {
    color: #000;
    font-size: 2em;
    margin-bottom: 15px;
}

form {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 280px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

label {
    display: none;
}

input[type=email] {
    background: transparent;
    border: none;
    border-bottom: 1.2px solid #000;
    height: 27px;
    margin-right: 10px;
}

::-webkit-input-placeholder {
    color: #000;
    text-align: center;
}

:-ms-input-placeholder {
    color: #000;
    text-align: center;
}

::placeholder {
    color: #000;
    text-align: center;
}

input[type="submit"] {
    background-color: transparent;
    border: 1.2px solid #000;
    border-radius: 20px;
    color: #000;
    font-weight: 600;
    padding: 5px 10px;
}

input[type="submit"]:hover {
    background-color: #000;
    cursor: pointer;
    color: #fff;
}

.error {
    color: #f00;
    font-size: .8em;
    margin-top: 15px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

#feedback {
    display: none;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.6;
    margin: 250px auto;
    text-align: center;
}

footer {
    -ms-flex-item-align: center;
    align-self: center;
    margin-bottom: 30px;
}